<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <title>FunaVid/Donantes </title>

  {{> header}}
  <link rel="stylesheet" href="../css/cssIndexDonantes.css">

</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="barraizquierda">
          <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><img src="../images/VidaKidsLogoCut.png" class="fotito">
              <span>VidaKids</span></a>
          </div>
          <div class="clearfix"></div>

          {{>head}}


          <!-- page content -->
          <div class="right_col" role="main">
            <section>
              <div class="titulo_p">
                <h1>Gestion de Donantes</h1>
              </div>
              <div class="titulo_s">
                <h4 class="agregar">Agregar donante</h4>
              </div>

              <img src="../images/boton-mas.png" alt="icon" class="icon_add" id="btn-abrir-crearDonante">

            </section>
            <section class="search_icon">
              <div class="contBuscar">
                <form class="form-inline my-2 my-lg-0">
                  <div>
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                  </div>
                  <div class="btn-search">
                    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit"><img
                        src="../images/bx-search-alt.svg" alt=""></button>
                  </div>
                </form>
              </div>

            </section>


            <main>
              <div class="tabla">
                <table id="tblData" class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Documento Identidad</th>
                      <th scope="col">Teléfono</th>
                      <th scope="col">Email</th>
                      <th scope="col" class="th_center">Opciones</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
              <div class="pagination" id="pagination">
                <button type="submit" class="botonp" name="" id="prevPage">Anterior</button>
                <div class="numerito">
                  <span id="currentPage">
                    <h6 id="paginado">1</h6>
                  </span>
                </div>
                <button type="submit" class="botonp" name="" id="nextPage">Siguiente</button>

              </div>
              <div class="dow_excel">
                <button onclick="exportTableToExcel('tblData')" class="botonexportar">
                  <i class="fa-solid fa-file-arrow-down" style="color: #0f84c3;" style="width: 50px;"></i>
                </button>
              </div>
            </main>
            <dialog id="crearDonante">
              <div class="modal">
                <div class="modal-content">
                  <h1 class="titulo_formulario">Registrar nuevo donante</h1>
                  <!-- Formulario -->
                  <div class="formulario">
                    <form id="form" action="" method="post" enctype="multipart/form-data"
                      onsubmit="return validateInputs()" class="form-modal">
                      <div class="formulario_bloque-uno">

                        <div class="input-control">
                          <label for="text">Nombre completo</label>
                          <input type="text" name="" id="nombre_Donante">
                          <div class="error"></div>
                        </div>

                        <div class="input-control">
                          <label for="email">Email</label>
                          <input type="email" name="" id="email_Donante">
                          <div class="error"></div>
                        </div>

                        <div class="input-control">
                          <label for="pass">Contraseña</label>
                          <input type="password" name="" id="contraseña_Donante">
                          <div class="error"></div>
                        </div>

                        <div class="input-control">
                          <label for="text">Confirmar contraseña</label>
                          <input type="password" name="" id="confirContra">
                          <div class="error"></div>
                        </div>

                        <div class="input-control">
                          <label for="text">Dirección</label>
                          <input type="text" name="" id="direccion_Donante">
                          <div class="error"></div>
                        </div>

                        <div class="input-control2">
                          <label for="text">¿El donante es padrino?</label>
                          <input type="checkbox" name="" id="padrino">
                          <div class="error"></div>
                        </div>

                      </div>

                      <div class="formulario_bloque-dos">
                        <div class="input-control">
                          <label for="text">Teléfono</label>
                          <input type="text" name="" id="telefono_Donante">
                          <div class="error"></div>
                        </div>

                        <div class="input-control">
                          <label for="select">Tipo de documento</label>
                          <select class="caja" id="tipo_Documento">
                            <option value="op1">Seleccione tipo de documento</option>
                            <option value="1">Cédula ciudadanía</option>
                            <option value="2">Cédula extranjera</option>
                            <option value="3">Pasaporte</option>
                            <option value="4">Permiso de trabajo</option>
                          </select>
                        </div>

                        <div class="input-control">
                          <label for="text">Documento de identidad</label>
                          <input type="text" name="" id="documento_Identidad">
                          <div class="error"></div>
                        </div>

                        <div class="input-control">
                          <label for="datetime">Fecha de registro</label>
                          <input type="datetime-local" name="" id="datetime" class="fechita">
                          <div class="error"></div>
                        </div>

                        <div class="input-control">
                          <label for="textarea">Entidad asociada</label>
                          <input name="" id="entidad_Asociada" type="text">
                          <div class="error"></div>
                        </div>

                        <div class="input-control2">
                          <label for="switch">Estado</label>
                          <label class="switch">
                            <input type="checkbox" id="estado">
                            <span class="slider round"></span>
                          </label>
                        </div>
                      </div>
                      <button type="submit" class="boton" name="" id="boton">Enviar</button>
                      <input type="button" value="Cancelar" class="botonc" id="btn-cerrar-crearDonante">
                    </form>
                  </div>
                </div>
            </dialog>
          </div>

          <dialog id="modal2">
            <div class="modal2">
              <div class="modal2-content">
                <!-- Formulario -->
                <div class="formulario2">
                  <form id="form2" action="" method="post" enctype="multipart/form-data"
                    onsubmit="return visualizarDonante())" class="form-modal">
                    <div class="formulario_bloque-uno">

                      <div class="input-control">
                        <label for="text">Nombre completo</label>
                        <input type="text" name="" id="nombre_Donante2" disabled="true">
                        <div class="error"></div>
                      </div>

                      <div class="input-control">
                        <label for="email">Email</label>
                        <input type="email" name="" id="email_Donante2" disabled="true">
                        <div class="error"></div>
                      </div>

                      <div class="input-control">
                        <label for="pass">Contraseña</label>
                        <input type="password" name="" id="contraseña_Donante2" disabled="true">
                        <div class="error"></div>
                      </div>

                      <div class="input-control">
                        <label for="text">Dirección</label>
                        <input type="text" name="" id="direccion_Donante2" disabled="true">
                        <div class="error"></div>
                      </div>

                      <div class="input-control21">
                        <label for="text">¿El donante es padrino?</label>
                        <input type="checkbox" name="" id="padrino2" disabled="true">
                        <div class="error"></div>
                      </div>

                    </div>

                    <div class="formulario_bloque-dos">
                      <div class="input-control">
                        <label for="text">Teléfono</label>
                        <input type="text" name="" id="telefono_Donante2" disabled="true">
                        <div class="error"></div>
                      </div>

                      <div class="input-control">
                        <label for="select">Tipo de documento</label>
                        <select class="caja" id="tipo_Documento2" disabled="true">
                          <option value="">Seleccione tipo de documento</option>
                          <option value="CC">Cédula ciudadanía</option>
                          <option value="CE">Cédula extranjera</option>
                          <option value="PP">Pasaporte</option>
                          <option value="PPT">Permiso de trabajo</option>
                        </select>
                      </div>

                      <div class="input-control">
                        <label for="text">Documento de identidad</label>
                        <input type="text" name="" id="documento_Identidad2" disabled="true">
                        <div class="error"></div>
                      </div>

                      <div class="input-control">
                        <label for="datetime">Fecha de registro</label>
                        <input type="datetime-local" name="" id="datetime2" class="fechita" disabled="true">
                        <div class="error"></div>
                      </div>

                      <div class="input-control">
                        <label for="textarea">Entidad asociada</label>
                        <input name="" id="entidad_Asociada2" type="text" disabled="true">
                        <div class="error"></div>
                      </div>

                      <div class="input-control2">
                        <label for="switch">Estado</label>
                        <label class="switch">
                          <input type="checkbox" id="estado2" disabled="true">
                          <span class="slider round"></span>
                        </label>
                      </div>

                    </div>

                  </form>
                  <div class="divbotonc"><input type="button" value="Atrás" class="botonc" id="btn-cerrar-modal"></div>
                </div>
              </div>
          </dialog>
        </div>
        <dialog id="modalEditar">
          <div class="modal2">
            <div class="modal2-content">
              <!-- Formulario -->
              <div class="formulario2">
                <form id="form3" action="" method="post" enctype="multipart/form-data"
                  onsubmit="return visualizarDonante())" class="form-modal">
                  <div class="formulario_bloque-uno">

                    <div class="input-control">
                      <label for="text">Nombre completo</label>
                      <input type="text" name="" id="nombre_Donante3">
                      <div class="error"></div>
                    </div>

                    <div class="input-control">
                      <label for="email">Email</label>
                      <input type="email" name="" id="email_Donante3">
                      <div class="error"></div>
                    </div>

                    <div class="input-control">
                      <label for="pass">Contraseña</label>
                      <input type="password" name="" id="contraseña_Donante3">
                      <div class="error"></div>
                    </div>

                    <div class="input-control">
                      <label for="text">Dirección</label>
                      <input type="text" name="" id="direccion_Donante3">
                      <div class="error"></div>
                    </div>

                    <div class="input-control21">
                      <label for="text">¿El donante es padrino?</label>
                      <input type="checkbox" name="" id="padrino3">
                      <div class="error"></div>
                    </div>

                  </div>

                  <div class="formulario_bloque-dos">
                    <div class="input-control">
                      <label for="text">Teléfono</label>
                      <input type="text" name="" id="telefono_Donante3">
                      <div class="error"></div>
                    </div>

                    <div class="input-control">
                      <label for="select">Tipo de documento</label>
                      <select class="caja" id="tipo_Documento3">
                        <option value="">Seleccione tipo de documento</option>
                        <option value="CC">Cédula ciudadanía</option>
                        <option value="CE">Cédula extranjera</option>
                        <option value="PP">Pasaporte</option>
                        <option value="PPT">Permiso de trabajo</option>
                      </select>
                    </div>

                    <div class="input-control">
                      <label for="text">Documento de identidad</label>
                      <input type="text" name="" id="documento_Identidad3">
                      <div class="error"></div>
                    </div>

                    <div class="input-control">
                      <label for="datetime">Fecha de registro</label>
                      <input type="datetime-local" name="" id="datetime3" class="fechita">
                      <div class="error"></div>
                    </div>

                    <div class="input-control">
                      <label for="textarea">Entidad asociada</label>
                      <input name="" id="entidad_Asociada3" type="text">
                      <div class="error"></div>
                    </div>

                    <div class="input-control2">
                      <label for="switch">Estado</label>
                      <label class="switch">
                        <input type="checkbox" id="estado3">
                        <span class="slider round"></span>
                      </label>
                    </div>

                  </div>

                </form>
                <div class="divbotonc">
                  <input type="button" value="Atrás" class="botonc" id="btn-cerrar-modal3">
                  <button type="submit" class="boton" name="" id="botonedit">Guardar</button>
                </div>
              </div>
            </div>
        </dialog>
        <!-- /page content -->

        {{> footer}}

      </div>
    </div>
  </div>
</body>

</html>